main {
    background: url("/assets/images/space.jpg") no-repeat fixed;
}


main h1 {    
    text-align: center;
    padding-top: 2rem;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(autofill, min-content);
    grid-gap: 1rem;
    padding: 1rem;
}

mat-card {
    cursor: pointer;
}

mat-card:hover {
    background-color: rgba(224, 222, 222, 0.8);
}

.header {
    display: flex;
    border-bottom: 1px solid;
}

.title-text {
    display: block;
}

.container-icon {
    width: 3rem;
    height: 3rem;
    margin: 0;
}

.container-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.container-image {
    width: 20rem;
    height: 20rem;
    padding: 1rem;
    margin: auto;
}

.container-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}