<ng-container *ngIf="pastLaunches$ | async as pastLaunches">
    <main>
        <h1>SpaceX Recent Missions</h1>
        <section class="container">
            <mat-card *ngFor="let launch of pastLaunches" [routerLink]="['/', launch.id]" >
                <div class="header">
                    <div class="container-icon">
                        <img 
                        loading="lazy"
                        [src]="launch.links.mission_patch_small"
                        alt="Mission patch of {{ launch.mission_name }}"
                        />
                    </div>
                    <div class="title-text">
                        <mat-card-title>
                            {{ launch.mission_name }}
                        </mat-card-title>
                        <mat-card-subtitle>
                            <b>{{ launch.rocket.rocket_name }} •</b> launched {{ launch.launch_date_utc | relativeTime }}
                        </mat-card-subtitle>
                    </div>
                    
                </div>
                <div class="container-image">
                    <img 
                        loading="lazy"
                        [src]="launch.links.flickr_images[0]"
                        alt="Photo of {{ launch.mission_name }}"
                    />
                </div>

            </mat-card>
        </section>
    </main>

</ng-container>