<ng-container *ngIf="launchDetails$ | async as launchDetails">
    <div class="main">
        <section class="container">
            <mat-card>
                <div class="mission-patch-image">
                    <img
                    [src]="launchDetails.links.mission_patch_small"
                    alt="Mission patch of {{ launchDetails.mission_name }}"
                    />
                </div>
                <div class="mission-details">
                    <mat-card-title>Mission: {{ launchDetails.mission_name }}</mat-card-title>
                    <mat-card-content>
                        <p>{{ launchDetails.details }}</p>
                    </mat-card-content>
                </div>
            </mat-card>
        </section>
        <section class="photo-grid">
            <div class="details-image-container" *ngFor="let pic of launchDetails.links.flickr_images">
                <img
                [src]="pic"
                alt="Picture of {{ launchDetails.mission_name }}"
                loading="lazy"       
                />
            </div>
        </section>
    </div>
</ng-container>